<br><br>
<div class="panel panel-info" id="palindrome">
  <div class="panel-heading"><h3>Palindrome Assignment</h3></div>
  <div class="panel-body">
<form >

<label>Enter to check: </label>

<!--Binding the input so it will be accessable in ts file-->
<input type="text" class="form-control" name="palindrome" value="" [(ngModel)]="palindrome"><br>

<!--Trigering prime function on click event-->
<input type="submit" class="btn btn-info" name="" value="Submit" (click)="palindromeFunct()"><br>

</form>

<br>
<div id="div_P" >


</div>

  </div>
</div>
